.card-shop{
    width: 25rem;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#count{
    height : auto;
}

#foodcard_foods{
    margin-left:2;
    text-align: left;
}


    