#home {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.container-scroll {
    margin-top: 10px;
    overflow-x: auto;
}

.custom-input {
    border: 10px;
    border-color: black;
    background: gray;
}
.navbar-light {
    background-color: #eb7424
}
.center {
    max-width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}